body {
    background-color: peachpuff;
}

#random, #searchByNameBtn, #searchByIngrBtn {
    background-color: peachpuff;
}
.header {
    padding-top: 20px;
}

#randomButtonC {
    align-items: center;
}

#searchByName, #searchByIngr {
    padding-top: 10px;
}

#random {
    padding-top: 10px;
    align-self: flex-end;
    padding-bottom: 15px;
   
}

img {
    border-radius: 12px;
}

#drinkRecipe {
    text-align: left;
}